@tailwind base;
@tailwind components;
@tailwind utilities;

.transparent-navbar {
    @apply bg-[rgba(255,255,255,0.9)] dark:bg-[rgba(35,39,48,0.9)];
    backdrop-filter: saturate(180%) blur(9px);
}

button:hover,
.btnLike:hover {
    background-color: rgba(35, 39, 47, 0.05);
    @apply bg-react-blue-hover-light;
    @apply dark:bg-react-blue-hover-dark;
}

button:active {
    transform: scale(0.9);
}

body {
    @apply bg-react-bg-light text-react-txt-light;

    @apply dark:bg-react-bg-dark dark:text-react-txt-dark;
}

.activeLink {
    @apply dark:bg-[#58afdf1a] bg-[#E6F7FF];
    @apply dark:text-[#149ECA] text-[#087EA4];
    color: #149eca;
}

.skeletonBG {
    @apply dark:bg-[#23272F] bg-[#c4c4c5];
}

/* Hamburger Menu */

/* We will apply the "open" class through React */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 15px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    @apply dark:bg-react-blue-txt-light&dark bg-[#404756];
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

/* This class will be added through JS */
.open {
    transform: rotate(90deg) translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

/* We need only two bars to make a cross */
.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Animate hamburger menu */
.transition-hamburger-menu {
    animation-name: hamburgerMenuTransition;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes hamburgerMenuTransition {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

/* Modal */
.overlay {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;

    animation-name: overlayTransition;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes overlayTransition {
    from {
        background-color: rgba(49, 49, 49, 0);
    }
    to {
        background-color: rgba(49, 49, 49, 0.8);
    }
}

.centerModalWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.centerAbsoluteContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlayDarkener {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998; /* Ensure the overlay is on top */
}

/* Carrousel */

.active {
    transform: translateX(0);
}

.prev {
    transform: translateX(-100%);
}

.next {
    transform: translateX(100%);
}

.alignBtnCarrPopUpLeft {
    @apply absolute top-1/2 left-[8%] 2xl:left-[5%];
    transform: translate(-50%, -50%) !important;
    opacity: 70%;
}

.alignBtnCarrPopUpRight {
    @apply absolute top-1/2 right-[-4%] sm:right-[-1%] 2xl:right-[0%];
    transform: translate(-50%, -50%) !important;
    opacity: 70%;
}

/* Remove mapbox logo */
.mapboxgl-ctrl-bottom-left {
    display: none !important;
}

div#detailCountryContainer div p span {
    @apply font-semibold;
}

div#detailCountryContainer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resultSearchBar {
    @apply bg-[#F6F7F9] hover:bg-[#087EA4] dark:bg-[#23272F] dark:hover:bg-[#149ECA]
     text-[#23272F] hover:text-white dark:text-white
     hover:cursor-pointer;
}

.shadowCardsHov {
    box-shadow: none;
    transition: box-shadow 0.15s ease-in-out;
}

.shadowCardsHov:hover {
    box-shadow: inset 0 4px 7px 1px #ffffff, inset 0 -5px 20px rgba(173, 186, 204, 0.25),
        0 0 20px rgba(0, 21, 64, 0.14), 0 0 40px rgba(0, 0, 0, 0.2);
}
